[submodule "src/bspwm"]
	path = src/bspwm
	url = https://github.com/baskerville/bspwm.git
[submodule "src/xmonad"]
	path = src/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "src/pcmanfm"]
	path = src/pcmanfm
	url = https://github.com/lxde/pcmanfm
